# Eat Safe, Love

## Notebook Set Up

In [ ]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
from pandas import pandas as pd

In [ ]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [ ]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [ ]:
# review the collections in our database
print(db.list_collection_names())

In [ ]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [ ]:
# Find the establishments with a hygiene score of 20
match_query = {'$match': {'scores.Hygiene': {'$gte': 20}}}

# Use count_documents to display the number of documents in the result
hygiene_20_count = establishments.count_documents({'scores.Hygiene':20})
print(f"There are {hygiene_20_count} establishments with a hygiene score of 20")
# Display the first document in the results using pprint
first_hygiene_doc = establishments.find_one({'scores.Hygiene':20})
pprint(first_hygiene_doc)

In [ ]:
# Convert the result to a Pandas DataFrame
pipeline=[match_query]
results = list(establishments.aggregate(pipeline))
hygiene_df = pd.DataFrame(results)
# Display the number of rows in the DataFrame
print(len(hygiene_df))
# Display the first 10 rows of the DataFrame
hygiene_df.head(10)

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [ ]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query_London = {'LocalAuthorityName':{'$regex':"London"},'RatingValue':{'$gte':4}}
# Use count_documents to display the number of documents in the result
establishments.count_documents(query_London)

In [ ]:
London_gte_4 = establishments.find(query_London)

# Convert the result to a Pandas DataFrame
London_gte_4_df = pd.DataFrame(list(London_gte_4))
# Display the number of rows in the DataFrame
print(len(London_gte_4_df))
# Display the first 10 rows of the DataFrame
London_gte_4_df.head(10)

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [ ]:
#Identify the coordenates of the Penang Flavours restaurant.
peanuts_coord = establishments.find_one({'BusinessName':{'$in':['Penang Flavours']}})
pprint(peanuts_coord['geocode'])

In [ ]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score
degree_search = 0.01
latitude = 51.490142
longitude = 0.08384
query_Rating_5 = {'RatingValue':5,
                 'geocode.latitude':{'$gte':latitude-degree_search, '$lte':latitude+degree_search},
                 'geocode.longitude':{'$gte':longitude-degree_search,'$lte':longitude + degree_search}
                 }



Penang_coords = (latitude,longitude)



#query_coord = {'geocode.latitude':{'gte':latitude}}
sort =  [('scores.Hygiene', 1)]
limit = 5
results_2 = establishments.find(query_Rating_5).sort(sort).limit(limit)
# Print the results
for i in range(5):
    pprint(results_2[i])

In [ ]:
#  Convert result to Pandas DataFrame
results_2_df = pd.DataFrame(list(results_2))
results_2_df

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [1]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
zero_hygiene = {'$match': {'scores.Hygiene': 10}}
# 2. Groups the matches by Local Authority
groups = {'$group':{'_id':'$LocalAuthorityCode','count':{'$sum':1}}
         }
# 3. Sorts the matches from highest to lowest
sort_values = {'$sort':{'count':-1}}
#Putting the pipeline together.
pipeline_2 = [zero_hygiene,groups,sort_values]
# Run the pipeline through the aggregate method and save the results to a variable
results_3 = list(establishments.aggregate(pipeline_2))
# Print the number of documents in the result
print("Number of establishments with hygiene score of 0: ", len(results_3))
# Print the first 10 results
pprint(results_3[0:10])

NameError: name 'establishments' is not defined

In [2]:
# Convert the result to a Pandas DataFrame
results_3_df = pd.DataFrame(results_3)
# Display the number of rows in the DataFrame
print("There are",len(results_3_df),"rows in the DataFrame")
# Display the first 10 rows of the DataFrame
results_3_df.head(10)

NameError: name 'pd' is not defined